.*
*/*.[ao]
*/*/*.[ao]
*.swp
*/build-uno/
*/*/build-uno/
*/*/*/build-uno/
*/build-zigduino_r2/
*/*/build-zigduino_r2/
*/*/*/build-zigduino_r2/
arduino/libraries/doc/
master/doc/
master/sosd
send
recv
*.out
*/*.out
*/*/*.out
